/*
Color palettes to use
*/

:root {
  /* Primary */

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  /* Neutral */

  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

/* Reset */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/* END Reset */

body {
  font-family: "Poppins", sans-serif;
  color: var(--very-dark-blue);
  background-color: var(--very-light-gray);
}

header {
  max-width: 520px;
  margin: 3rem auto;
  margin-top: 2rem;
  text-align: center;
}

header p {
  font-size: 0.95rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

p {
  font-size: 0.8rem;
  color: var(--grayish-blue);
  font-weight: 400;
}

h1 {
  font-size: 2.2rem;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 200;
}

h1 span {
  font-weight: 600;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.card {
  width: 350px;
  margin: 1rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 4px solid var(--grayish-blue);
  box-shadow: 0px 12px 31px -5px rgba(19, 52, 71, 0.2);
}

.card img {
  display: block;
  margin-left: auto;
}

.card p {
  margin: 1rem 2rem 2rem 0;
  line-height: 1.1rem;
}

.team {
  border-color: var(--red);
}

.karma {
  border-color: var(--orange);
}

.supervisor {
  border-color: var(--cyan);
}

.calculator {
  border-color: var(--blue);
}

.push-down {
  transform: translateY(50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 775px) {
  .push-down {
    transform: translateY(0);
  }
}

@media (max-width: 1140px) {
  .push-down {
    transform: translateY(0);
  }
}
